<main>
    <!-- 검색창부분 -->
    <section>
        <div class="searching">
            <!-- <div class="search_section"> -->
            <form class="search__crew" action="/index" method="GET">
                <div class="search1"><input class="search__bar" type="text" placeholder="찾는 동아리를 입력하세요"></div>
                <div class="search2"><input class="search__button" type="submit" value="검색"></div>
            </form>
            <!-- </div> -->
        </div>
    </section>
    <hr>
    <section>
        <div class="crew__header">
            <div class="crew__title">전체</div>
            <button onclick="window.open('http://localhost/filter')" class="filter">필터링</button>
        </div>
        <div class="crew__box">
            <% crewinfo.forEach(crew_info => { %>
            <div class="crewpost">
                <div class="crew__info">
                    <div class="crew__name"><%= crew_info.crew_name %></div>
                    <div class="crew__region">#<%= crew_info.region %> #<%= crew_info.field %> </div>
                    <div class="watch__crew">
                        <a href="readCrew/<%= crew_info.identify_numb_manager %>">상세보기</a> 
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </section>
    
</main>

